<div class="footer">
	<div class="footer_header">
		Eeek.
	</div>
	<div class="footer_nav">
		<ul class="footer_ul">
			<li>About</li>
			<li class="footer_slash">/</li>
			<li>Privacy Policy</li>
			<li class="footer_slash">/</li>
			<li>Contact</li>
			<li class="footer_slash">/</li>
			<li>Terms Of Use</li>
		</ul>
	</div>
	<div class="footer_signature"> 
		Alex Trost all rights reserved.
	</div>
</div>