<div class="footer">
	<div class="footer_header">
		Eeek.
	</div>
	<div class="secret_footer_div">
		<div class="secret_privacy_message">
			Eeek will keep you, your name, email, uploaded photos, text files, and your activity on Eeek anonymous and private. 
		</div>
		<div class="secret_about_message">
			Eeek is an application meant to provide you with mental health support.
		</div>
		<div class="secret_terms_message">
			Eeek is not meant to replace professional mental health services. If you feel you are a danger to yourself or others please call 911. 
		</div>
	</div>
	<div class="footer_nav">
		<ul class="footer_ul">
			<li class="footer_about">About</li>
			<li class="footer_slash">/</li>
			<li class="footer_privacy">Privacy Policy</li>
			<li class="footer_slash">/</li>
			<li class="footer_terms">Terms Of Use</li>
			<li class="footer_slash">/</li>
			<li class="footer_contact"><a href="http://alextrost.github.io">Contact</a></li>
		</ul>
	</div>
	<div class="footer_signature"> 
		Eeek all rights reserved. We hope you feel better. 
	</div>
</div>