<div class="instructions_wrapper">
	<div class="instructions_div">
		<p class="instructions">
			click "new upload" to upload something that makes you happy to your account like a screenshot of a nice text or a photo of your dog or a nice reminder or something. 
		</p>
		<button class="instructions_button">Got it</button>
	</div>
</div>