<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= render partial: 'feed/top_bar' %>
	
	<%= render partial: 'uploads/upload_form' %>


	<div class="home_container">
	  <div class="welcome_circle">
	  	<div class="wordy">
	    	<h2 class="circle_message"><%= "Welcome, #{@user.name}"%> </h2>
	    	<h2 class="hidden_circle_message">You're great.</h2>
	    </div>	
	  </div>

	</div>

