<meta name="viewport" content="width=device-width, initial-scale=1">

	<%= render partial: 'dashboard/top_bar' %>

	<div class="home_container">
	  <div class="welcome_circle">
	  	<div class="wordy">
	    	<h2><%= "Welcome, #{@user.name}"%> </h2>
	    </div>	
	  </div>

		<%= render partial: 'uploads/upload_form' %>

	</div>

