 <div class="outermost">

    <div class="cloud cloud_1"> </div>
    <div class="cloud cloud_2"> </div>
    <div class="cloud cloud_3"> </div>
    <div class="cloud cloud_4"> </div>

  <!-- <div class="wide"> -->
    <div class="login_page">
      <h1 class="eeek_title">Eeek.</h1>
      <!-- <div class="black_arrow"> </div> -->
      <!-- <div class="black_arrow2"> </div> -->
      <% if @errors %>
        <% @errors.each do |attribute, error| %>
          <p>Oh No! <%="#{attribute.capitalize}  #{error}" %></p>
        <% end %>
      <% end %>
      <%= render 'login_form' %>
      <%= render 'sign_up_form' %>
    </div>
    <!-- <div class="about">
      <h1> About Eeek</h1>
      <p> Eeek is a web tool designed to assist you during periods of emotional hardship. You can save memories and notes to yourself and then later, have Eeek feed them to you. In addition, you can save contacts to your profile and easily alert your contacts via text when you are having a hard time. Eeek have fun. </p>
      <p>Suggestions on how we can improve? Email EeekApp@gmail.com.</p>
    </div>
  </div> -->
  

 </div> 

