<div class="resources_wrapper">
	<h1 class="resources_header">
		Some Resources If You Need Them
	</h1>
	<ul>
		<li><a href="http://www.suicidepreventionlifeline.org/">The National Suicide Prevention Lifeline</a> -- 1-800-273-8255 or click <a href="http://www.suicidepreventionlifeline.org/GetHelp/LifelineChat.aspx">here for online chat.</a></li>
	</ul>
	<ul>
		<li><a href="https://ncadd.org/">National Council on Alcoholism and Drug Dependence Hopeline</a> -- (800) 622-2255</li>
	</ul>
	<ul>
		<li><a href="http://www.translifeline.org/">The TransLifeLine</a> -- US: 877-565-8860, Canada: 877-330-6366. For trangender related issues.</li>
	</ul>
	<ul>
		<li><a href="http://www.lgbt.ie/">LGBT Helpline</a> -- 1-890-929-539.</li>
	</ul>
	<ul>
		<li><a href="http://www.veteranscrisisline.net/ChatTermsOfService.aspx?account=Veterans%20Chat">The Veterans Crisis Line</a> -- 1-800-273-8255 or text 838255 or online chat available on their homepage.</li>
	</ul>
	<ul>
		<li><a href="http://www.stopbullying.gov/">StopBullying.gov</a> -- For support being bullied.</li>
	</ul>
	<ul>
		<li><a href="https://www.childhelp.org/">National Child Abuse Hotline</a> -- 1-800-422-4453 </li>
	</ul>
	<ul>
		<li><a href="http://www.thehotline.org/">The National Domestic Violence Hotline</a> -- 1-800-799-7233</li>
	</ul>
	<ul>
		<li><a href="http://www.nationaleatingdisorders.org/">The National Eating Disorders Association</a> -- 1-800-931-2237</li>
	</ul>
	<ul>
		<li><a href="http://www.1800runaway.org/">The National Runaway Safeline</a> -- 1-800-786-2929, for if you are running away.</li>
	</ul>

</div>