<div class="small_side_bar">
	<!-- <a href="/contacts/new" data-remote="true"><li class="add_contact_button" class="render_contact_form_link"></li>
	<li class="button_label" class="add_contact_label">Add Contact</li></a>

	<li class="distress_call_button" class="render_distress_level_form"></li>
	<li class="button_label" class="call_label">Call</li> -->

	<a href="/uploads/trigger" data-remote="true"><li class="face_icon_button"></li>
	<li class="button_label" class="smiley_label">Feeling down?</li></a>

	<a href="/uploads/new" data-remote="true"><li class="add_stuff_button"></li>
	<li class="button_label" class="add_joy_label">add some joy</li></a>

	<a href="/uploads"><li>See all of the things</li></a>

	<%= link_to destroy_user_session_path, :method => :delete do %><li class="logout_button"></li>
	<li class="button_label" class="logout_label">logout</li>
	<% end %>

</div>