<div class="omnii-header">
      <nav>
        <ul>
          <li><a href="/home" class="logo">Logo</a></li>
          <li><a href="#" class="open-left">Settings</a></li>
          <!-- Search Bar -->
          <li> <form class="dark">
            <span><input type="text" class="search rounded" placeholder="Search..."></span>
            <input class="search" type="button" value="Search"></span>
          </form></li>
          <!-- USER SETTINGS BEGINS -->
          <li>
            <div class="open-right">
              <a href="#"><%="hello"%></a>
            </div>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </div>