<div class="omnii-header">
      <nav>
        <ul>
          <li><a href="/home" class="logo">Logo</a></li>
          <li><a href="#" class="open-left">See all Uploads</a></li>
          <li>
            <div class="open-right">
              <a href="#"><%="New Upload"%></a>
            </div>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </nav>
    </div>





  