    <div class="omnii-header">
      <nav>
          <div class="menu_icon"></div>
        <ul>
          <li><a href="/home" class="logo">Home</a></li>
          <li><a href="/dashboard" class="logo">Eeek</a></li>
          <li><a href="/uploads">See all Uploads</a></li>
           <li>
            <div class="open-right">
              <a href="#" id="upload_button"><%="New Upload"%></a>
            </div>
          </li>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>Logout<% end %>
          </li>
        </ul>
      </nav>
    </div>







  