
<div class="render_form_target_div"></div>


<div id="notebook_wrapper">
  <div class='notebook_container'>
    <div class="bs-example">
      <div id="myCarousel" class="carousel slide" data-interval="0" data-ride="carousel">
        <!-- Carousel indicators -->
        <!-- DEPENDING ON THE LENGTH APPEND A CAROUSEL INDICATOR AND A SLIDE WITH INDEX AND APPEND a CLASS ITEM -->
        <ol class="carousel-indicators">
          
          <li class="hi"></li>
       
        </ol>
        <!-- Carousel items -->
        <%= render partial: 'uploads/carousel' %>
       
<!-- <h2 class="welcome_message">< % = "Welcome."% ></h2> -->



<!-- <div class="upload_target_div">< % = render partial: 'uploads/html_feed' % ></div> -->

<%= render 'top_bar' %>
<%= render 'sidebar' %>



