<%= render :partial => "uploads/upload_form" %>
<%= render :partial => "contacts/new_contact_form" %>


<h2 class="welcome_message"><%="Welcome, #{@user.name}."%></h2>

<div class="small_side_bar">
	<li class="add_contact_button" class="render_contact_form_link"></li>
	<li class="button_label" class="add_contact_label">Add Contact</li>

	<li class="distress_call_button" class="render_distress_level_form"></li>
	<li class="button_label" class="call_label">Call</li>

	<li class="face_icon_button"></li>
	<li class="button_label" class="smiley_label">Feeling down?</li>

	<li class="add_stuff_button"></li>
	<li class="button_label" class="add_joy_label">add some joy</li>

	<%= link_to destroy_user_session_path, :method => :delete do %><li class="logout_button"></li>
	<li class="button_label" class="logout_label">logout</li>
	<% end %>

</div>



