
<%= render 'top_bar' %>
<div class="render_form_target_div"></div>


  <%= render partial: 'uploads/carousel' %>
       
<!-- <h2 class="welcome_message">< % = "Welcome."% ></h2> -->



<!-- <div class="upload_target_div">< % = render partial: 'uploads/html_feed' % ></div> -->

<%= render 'sidebar' %>
<%= render partial: 'uploads/upload_form' %>






