
<%= render 'top_bar' %>


  <%= render partial: 'uploads/carousel' %>
       
<!-- <h2 class="welcome_message">< % = "Welcome."% ></h2> -->



<!-- <div class="upload_target_div">< % = render partial: 'uploads/html_feed' % ></div> -->

<%= render partial: 'uploads/upload_form' %>






