.carousel_div {
  border: 3px blue solid;
  width: 100%;
  height: 50%;
}

.carousel_div #upload_carousel {
  border: 3px pink solid;
  height: 10%;
}

.carousel_div #upload_carousel .upload_div {
  border: 6px black solid;
  width: 80em;
  height: 40em;
  margin: 5em auto;
}

.owl-carousel {
  display: inline-block; }


#upload_carousel img {
  border: 3px green solid;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

