#side_bar {
		top:5%;
    /*left:100%;*/
    right:0;
    width: 20%;
    height: 100%;
    position: fixed;
    border: 4px purple solid;
    background-color: white;
    /*display: none;*/
  }

  .form body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}


.form h1 {
	margin: 30% 1.5% 0 1.5%;
	/*width: 98%;*/
	text-align: center;
	font-family: 'Bree Serif'
}


#new_upload_form {
  display: none;
  width: auto;
    border: 4px blue solid;

}

#new_text_form {
  display: none;
    border: 4px green solid;

}

#checkbox_list {
  list-style-type: none;
  border: 4px yellow solid;
  height: 3em;
	margin: 0% ;
	text-align: center;
	display: table;
	width: 100%;
  

}

#checkbox_list .checkbox{
  display: table-cell;
  vertical-align: middle;
  /*border: 2px black solid;*/
  /*border-radius: 15%;*/
	height: 100%;
	width: 48%;
	font-family: "Bree Serif";
	font-size: 20px;

}

#checkbox_list #text_checkbox {
	border-right: 3px black solid;
}

#checkbox_list #upload_checkbox {
	border-left: 3px black solid;
}