.home_container .welcome_circle {
	height: 350px;
	width: 350px;
	/*text-align: center;*/
	/*background-color: #0066CC;*/
	/*opacity: .7;*/
	/*border-radius: 50%;*/
	/*margin: 10% auto;*/
	/*line-height: 2em;*/
	/*font-size: 20px;*/
	/*width:500px;*/
	/*height:500px;*/
	border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height:340px;
	text-align:center;
	background:#000
}



.home_container {
	background-image: url(/assets/eeek_backgrounds/2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	border: 2px orange solid;
}

/*.wordy  {
	position: block;
	margin-top: 30px;
}*/

