.home_container .welcome_circle {
	height: 20em;
	width: 20em;
	text-align: center;
	background-color: #0066CC;
	opacity: .7;
	border-radius: 300em;
	margin: 10% auto;
}

.home_container {
	background-image: url(/assets/eeek_backgrounds/2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	border: 2px orange solid;
}