.home_container .welcome_circle {
	height: 350px;
	width: 350px;
	/*text-align: center;*/
	/*background-color: #0066CC;*/
	opacity: .8;
	/*border-radius: 50%;*/
	margin: 12% auto;
	/*line-height: 2em;*/
	/*font-size: 20px;*/
	/*width:500px;*/
	/*height:500px;*/
	border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height:340px;
	text-align:center;
	background:#000
}



.home_container {
	background-image: url(/assets/eeek_backgrounds/12.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	position: absolute;
	border: 2px orange solid;
}

