.small_side_bar {
    top:0;
    /*left:100%;*/
    left:0;
    height: 100%;
    width: 7%;
    position: fixed;
    margin-top: 0;
    background-color: #1A1A1A;
    list-style-type: none;
}

.add_contact_button {
    height: 4em;
    width: 4em;
    background-image: url('pizza_icon_white.png');
    background-position: center;
    background-size: 300%; 
    margin-top: 125%;
    margin-left: auto;
    margin-right: auto;

}

.distress_call_button {
    height: 4em;
    width: 4em;
    background-image: url('phone.png');
    background-position: center;
    background-size: 90%; 
    background-repeat: no-repeat;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

.logout_button {
    height: 4em;
    width: 4em;
    background-image: url('logout.png');
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.logout_button:hover {
    background-image: url('logout_icon_blue.png');
    height: 4.2em;
    width: 4.2em;
}

.logout_button:hover + #logout_label {
    visibility:visible;
}

.add_contact_button:hover {
    background-image: url('pizza_icon_blue.png');
    height: 4.2em;
    width: 4.2em;
}

.add_contact_button:hover + .button_label {
    visibility:visible;
}

.distress_call_button:hover {
    background-image: url('phone_icon_blue.png');
    height: 4.2em;
    width: 4.2em;
}

.distress_call_button:hover + .button_label {
    visibility:visible;
}

.make_call {
    margin-top: 0;
    font-size: 30px;
}

.face_icon_button{
    background-image: url('face_icon_white.png');
    height: 3.6em;
    width: 3.6em;
    background-position: center;
    background-size: 100%; 
    background-repeat: no-repeat;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
}

.face_icon_button:hover {
    background-image: url('face_icon_blue.png');
    height: 4em;
    width: 4em;
}

.face_icon_button:hover + .button_label {
    visibility:visible;
}

.add_stuff_button {
    height: 4em;
    width: 4em;
    background-image: url('plus_icon_white.png');
    background-position: center;
    background-size: 100%; 
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
}

.add_stuff_button:hover {
    height: 4.2em;
    width: 4.2em;
    background-image: url('plus_icon_blue.png');
}

.add_stuff_button:hover + .button_label {
    visibility:visible;
}

.add_stuff_form_div {
    background-color: #1A1A1A;
    opacity: .9;
    width: 99%;
    height: 100%;
    padding: 10px;
    color: white;
    display: none;
    text-align: center;
}

.add_stuff_form {
    width: 50em;
    margin: auto;
}

.item_textarea {
    border: 1px yellow solid;
    width: 40em;
    height: 20em;
    font-size: 25px;
    font-family: 'Bree Serif';
    margin: auto;
}

.button_label {
    font-family: "Bree Serif";
    color: #00E6E6;
    text-align: center;
    visibility: hidden;
}