<div id="upload_carousel" class="owl-carousel owl-theme">
  <% @uploads.each do |upload| %>
  	<div class="upload_div"> 
  		<img src=<%= upload.attachment %> > 
  	</div>
  <% end %>

  <div class="upload_div"> Your Content </div>
  <div class="upload_div"> Your Content </div>
  <div class="upload_div"> Your Content </div>
  <div class="upload_div"> Your Content </div>
  <div class="upload_div"> Your Content </div>
  <div class="upload_div"> Your Content </div>
  <div class="upload_div"> Your Content </div>
</div>