<div class="carousel_div">
	<div id="upload_carousel" class="owl-carousel owl-theme">
	  <% @uploads.each do |upload| %>
	  	<div class="upload_div"> 
	  		<img src=<%= upload.attachment %> > 
	  	</div>
	  <% end %>
	</div>
</div>