<div class="carousel_div">
	<div id="upload_carousel" class="owl-carousel owl-theme">
	  <% @uploads.each do |upload| %>
	  	<div class="upload_div"> 
	  		<% if upload.text %>
	  			<p><%= upload.text %></p>
	  		<% else %>
	  			<img src=<%= upload.attachment %> > 
	  		<% end %>
	  	</div>
	  <% end %>
	</div>
</div>